{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PortuPro - Architecture Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'architecture.css' %}">
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
<style>
    .header { color: #ffffff; font-family: Arial, Helvetica, sans-serif   ; font-weight: bold; font-size:52px; }
        
    .card-header { background-color: #007bff; color: white; font-weight: bold; font-size: 22px; border: 2px solid black;}
        
    .footer { background-color: #f8f9fa; text-align: center; padding: 10px; font-size: 0.8rem; }
        
    .card { margin-bottom: 40px; border-radius: 10px; box-shadow: 0 0px 10px 0px ; background-color: #f2edcb;}
        
    .card-header { border-top-right-radius: 10px; }
        
    .map { border-radius: 10px; }
        
    .map { height: 314px; width: 100%; }
        
    .sub-heading { color: #343a40; font-size: 1.5rem; }
        
    .intro-text { 
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            border-width: 1px;
            border-color: black;
            box-shadow: inset 0 0 10px 2px #000000;
            transition: 0.8s;
            background-color: beige;
            padding: 20px;
            margin-bottom: 20px;
    }
        
    .img-fluid {margin-top: 5px; border: 2px solid black; width: 100%; height: 88%; }

    #pictureCredits { font-size: 12px; }

</style>
</head>
<body onload="initMaps()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <a class="navbar-brand" href="#">
          <img src="{% static 'Logo for Navbar.png' %}" alt="Logo" width="70" height="70" class="d-inline-block align-text-top" style="padding-top:8px">
          <h1><span class="text-green" style="margin-left: 10px;">Portu</span><span class="text-red">Pro</span></h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto" id="navbarUL">
            <li class="nav-item active">
              <a class="nav-link nb-item" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link nb-item" style="color: rgb(232, 255, 255);" href="/vocab">Vocabulary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nb-item" style="color: rgb(232, 255, 255);" href="/analytics">Analytics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nb-item" style="color: rgb(232, 255, 255);" href="/diacritics">Diacritics</a>
      </li>
          <li class="nav-item dropdown">
              <a class="nav-link active-tab dropdown-toggle nb-item" style="color: rgb(232, 255, 255);"  href="#" id="cultureDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Culture
              </a>
              <div class="dropdown-menu" aria-labelledby="cultureDropdown">
                <a class="dropdown-item" href="/architecture" style="font-size: 20px;">Architecture</a>
                <a class="dropdown-item" href="/festivals" style="font-size: 20px;">Festivals</a>
                <a class="dropdown-item" href="/media" style="font-size: 20px;">Music</a>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(232, 255, 255);" href="/settings">Settings</a>
        </li>
          </ul>
          <span class="navbar-text">
            <a href="#" id='discordHref' class="settings-link nb-item"  class="settings-link nb-item" style="font-size:26px; margin-right: 2em;" data-toggle="modal" data-target="#discordModal">
              <i id="discordLogo" class="fab fa-discord"></i>
          </a>
            <a href="/signout" class="settings-link nb-item" style="font-size:22px; text-decoration: none;">Logout</a>
          </span>
        </div>
      </nav>
    <!-- Main Page -->
    <div class="container mt-4">
        <h1 class="mb-4 header" style="text-shadow: 3px 3px #000000;">{% translate 'Architecture' %}</h1>
        <div class="intro-text" style="margin-bottom: 40px;">
            <p>
                {% blocktranslate %}
                Portugal is renowned for its rich architecural heritage, spanning across several centuries and a variety of styles, from Romanesque to 
                Manueline, and from Baroque to Modern. Information on the six most famous architectural sites in Portugal are displayed below.
                {% endblocktranslate %}
            </p>
            <span style="font-weight: 700; font-size: 14px; color: rgb(16, 16, 180);">
                {% translate 'Interact with the maps and switch to Street View to get a better view of the sites.' %}
            </span>
        </div>
        <section>
            <!-- Card Tiles for different festivals -->
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-3">
                        <div class="map" id="festivalMap" style="height: 314px;"></div> <!-- Map container -->
                    </div>
                    <div class="col-md-9">
                        <div class="card-header" style="border-top-right-radius: 10px;">Tower of Belém (Torre de Belém)</div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">
                                        {% blocktranslate %}
                                        Located in the heart of Lisbon, this tower is a masterpiece of the Manueline style,
                                        combining elements of Gothic and Renaissance architecture. It was built in the early 16th century as a part of the
                                        defenses at the mouth of the Lisbon Harbor. Now, it is a UNESCO World Heritage Site and one of the most photographed
                                        landmarks of Portugal.
                                        {% endblocktranslate %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 img-div">
                                <img src="{% static 'belem.jpg' %}" 
                                alt="Madeira's Flower Festival" class="img-fluid"
                                > <span id="pictureCredits">From Google maps by <a target="_blank" href="https://www.google.com/maps/contrib/117436593173758429032/photos/@43.362255,-5.8442514,17z/data=!3m1!4b1!4m3!8m2!3m1!1e1?entry=ttu">
                                    Antonio Alba</a></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-3">
                        <div class="map" id="festivalMap2" style="height: 314px;"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-header" style="border-top-right-radius: 10px;">Jerónimos Monastery (Mosteiro dos Jerónimos)</div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">
                                        {% blocktranslate %}
                                        Also located in Belem, Lisbon, the Jeronimos Monastery is one of the best examples of the late
                                        Gothic Architecture. It was built in the early 16th century by King Manuel I to commemorate the return of 
                                        Vasco De Gama from his journey to India, and give thanks to God for the wealth it brought to Portugal. This
                                        site is also a part of the same UNESCO World Heritage designation as the Tower Of Belem.
                                        {% endblocktranslate %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 img-div">
                                <img src="{% static 'jero.jpg' %}" 
                                alt="Madeira's Flower Festival" class="img-fluid"
                                > <span id="pictureCredits">From Google maps by <a target="_blank" href="https://www.google.com/maps/contrib/111163895397347329580/photos/@48.4767173,5.6837776,6z/data=!3m1!4b1!4m3!8m2!3m1!1e1?entry=ttu">
                                    Stefano Andrighetto</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-3">
                        <div class="map" id="festivalMap3" style="height: 314px;"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-header" style="border-top-right-radius: 10px;">Pena Palace (Palácio da Pena)</div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">
                                        {% blocktranslate %}
                                        Situated upon a hilltop in the Sintra mountains surrounded by lush forests and gardens, 
                                        this palace is one of the finest examples of
                                        19th century romanticism in the world. Today, the palace is a UNESCO World Heritage Site and considered to be one
                                        of the Seven Wonders of Portugal.
                                        {% endblocktranslate %}
                                    </p>
                                    <p class="card-text"><strong>Dates:</strong> April 23 - May 30</p>
                                </div>
                            </div>
                            <div class="col-md-4 img-div">
                                <img src="{% static 'pena.jpg' %}"  
                                alt="Madeira's Flower Festival" class="img-fluid"
                                > 
                                <span id="pictureCredits">From Google maps by <a target="_blank" href="https://www.google.com/maps/contrib/111296777256231766396">
                                    Marunak F</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-3">
                        <div class="map" id="festivalMap4" style="height: 314px;"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-header" style="border-top-right-radius: 10px;">Batalha Monastery (Mosteiro da Batalha)</div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">
                                        {% blocktranslate %}
                                        Located in Batalha, this monastery is one of the most important Gothic sites in Portugal, renowned for its intricate Manueline flourishes. It was
                                        built to commemorate the Battle of Aljubarotta (1385) and took over a century to complete. It features a breathtaking array of 
                                        sculptures, filigree and the famed Unfinished Chapels.
                                        {% endblocktranslate %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 img-div">
                                <img src="{% static 'batalha.jpg' %}" 
                                alt="Madeira's Flower Festival" class="img-fluid"
                                >
                                <span id="pictureCredits">From Google maps by <a target="_blank" href="https://www.google.com/maps/contrib/109332604429689068577/photos/@37.5013183,-7.2042332,10z/data=!3m1!4b1!4m3!8m2!3m1!1e1?entry=ttu">
                                    Cristian</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-3">
                        <div class="map" id="festivalMap5" style="height: 314px;"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-header" style="border-top-right-radius: 10px;">Casa da Música</div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">
                                        {% blocktranslate %}
                                        Located in Porto, Casa de Musica is one of the most strikingly modern and innovative architectural landmarks
                                        in Portugal. It was designed by Dutch Artist Rem Koolhas in 2001, and the construction was completed in 2005. It stands out
                                        not only for its distinct contemporary design, but also for its cultural significance as a principal venue for music and performing
                                        arts.
                                        {% endblocktranslate %}
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="col-md-4 img-div">
                                <img src="{% static 'casa.jpg' %}" 
                                alt="Madeira's Flower Festival" class="img-fluid"
                                >
                                <span id="pictureCredits">From Google maps by <a target="_blank" href="https://www.google.com/maps/contrib/108438003834014945219/photos/@41.0702067,-0.7150052,5z/data=!3m1!4b1!4m3!8m2!3m1!1e1?entry=ttu">
                                    Tygo Klasse</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-3">
                        <div class="map" id="festivalMap6" style="height: 314px;"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-header" style="border-top-right-radius: 10px;">Alcobaça Monastery (Mosteiro de Alcobaça)</div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">
                                        {% blocktranslate %}
                                        The Alcobaça Monastery is one of the oldest and most impressive exapmples of Cistercian architecure
                                        in Portugal. Founded in the 12th century, the monastery is celebrated for the purity and clarity of its architectural style, and is 
                                        particularly noted for the ornate tombs of King Pedro I and Inês de Castro.
                                        {% endblocktranslate %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 img-div">
                                <img src="{% static 'monas.jpg' %}"
                                alt="Madeira's Flower Festival" class="img-fluid"
                                >
                                <span id="pictureCredits">From Google maps by <a target="_blank" href="https://www.google.com/maps/contrib/114594204870518894120">
                                    Miriam Lopez Lopez</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'mainsite/discord_modal.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtutlR-5LD8Hzjs2uR1I5Sbku7_aml5pQ&callback=initMap" async defer></script>
    <script>
        // Initializes Google Maps Embed for each of the Architectural Sites
        function initMaps() {
            var locations = [
                {id: 'festivalMap', coords: {lat: 38.69157100000002, lng: -9.215987000000007}},
                {id: 'festivalMap2', coords: {lat: 38.69720000000001, lng: -9.208056154769906}},
                {id: 'festivalMap3', coords: {lat: 38.78752599999999, lng: -9.390500000000008}},
                {id: 'festivalMap4', coords: {lat: 39.65899759815084, lng: -8.825843749668113}},
                {id: 'festivalMap5', coords: {lat: 41.15881000000001, lng: -8.630758000000009}},
                {id: 'festivalMap6', coords: {lat: 39.54816061664203, lng: -8.97978122300108}}
            ];

            locations.forEach(function(location) {
                new google.maps.Map(document.getElementById(location.id), {
                    center: location.coords,
                    zoom: 17
                });
            });
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>