{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PortuPro Lesson - Unit {{unit_id}}: {{unit_name}}</title>
<link rel="icon" type="image/jpg" href="{% static 'Logo for Navbar.png' %}">
<style>
  .quiz-container {max-width: 1000px; margin: 30px auto; background-color: #f9f9f9; padding: 20px; padding-left: 0px; padding-right: 0px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    
  hr { border: none; height: 1px; width: 100%; margin-left: 0px; margin-right: 0px; background-color: #000000; }

  .phrase-section h1 { color: #333; }

  .phrase { display: flex; justify-content: center; align-items: center; height: 100px; }

  .sound-button { background: none; border: none; font-size: 24px; cursor: pointer; padding: 0; display: inline-flex; align-items: center; justify-content: center; }

  .recording { display: flex; flex-direction: column; align-items: center; }

  .record-button { background-color: #f8f8f8; border: 2px solid #ccc; padding: 10px 20px; border-radius: 20px; margin-bottom: 10px; cursor: pointer; }

  .sound-button, .plus-button { margin-left: 10px; cursor: pointer;  transition: transform 0.2s ease-in-out;}

  .sound-button i, .plus-button i { pointer-events: none; }

  .sound-button:hover, .plus-button:hover { transform: scale(1.1); }

  .sound-button:focus, .plus-button:focus { outline: none; box-shadow: none;  background-color: #8b1f1f; background: none; }

  #plusBtn { border: 2px solid green }

</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>
  {% include 'mainsite/navbar.html' %}
  <!-- Main Page -->
  <div class="container">
    <div class="quiz-container">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div style="width: auto; margin-left:20px; font-size: 18px">
          <b>{{unit_name}} - {{difficulty}} </b>
        </div>
        <div class="progress" style="width: 30%;"> 
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ percent_complete }}%;" data-toggle="tooltip" data-placement="top" title="For Quiz 2" aria-valuenow="{{percent_complete}}" aria-valuemin="0" aria-valuemax="100">{{percent_complete}}%</div>
        </div>
        <a href="/home" class="btn btn-light big-close" id="big_close">&times;</a>
    </div>
    <hr>
    <div class="lesson-content" style="margin: 20px;">
      <form>
        {% csrf_token %}
        <!-- Iterate through words for the lesson on this page -->
        {% for word in words %}
        <div class="word-header" style="margin-top: 30px;">
          <h1><span class="notranslate">{{word.portuguese_word}}</span> ({{word.english_translation}}) 
              <button class="sound-button" id="speakBtn" style="font-size:32px" onclick="convertTextToSpeech('{{word.portuguese_word}}')">🔊</button>
              <button class="btn btn-outline-success plus-button" id="plusBtn" data-word-id="{{ word.id }}"><i class="fas fa-plus"></i>    Add to List</button>
          </h1><br>
        </div>
        <div class="example-usage">
          <h4>Example Usage</h4>
          <ul>
            <!-- Iterate through example usage for words -->
            {% for usage in word.example_usages.all %}
            <li style="font-size:24px; margin-left: 12px;"> {{usage.english_usage}} <b>   /   </b> <span class="notranslate" style="color:blue">{{usage.portuguese_usage}}</span><button class="sound-button" id="speakBtn" onclick="convertTextToSpeech('{{usage.portuguese_usage}}')" style="font-size: 24px; margin-left: 20px;">🔊</button></li>
            {% endfor %}
          </ul>
          </div>
        <hr style="margin-top:30px">
        {% endfor %}
        <div id="pagination_box">
          <nav id="pagination-nav" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if words.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First" style="background-color:rgb(219, 213, 213); font-weight: bold; font-size:24px">
                    <span aria-hidden="true" style="color: rgb(0, 0, 0);">&laquo;&laquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ words.previous_page_number }}" aria-label="Previous" style="background-color: rgb(219, 213, 213); font-weight: bold; font-size:24px">
                    <span aria-hidden="true" style="color: rgb(0, 0, 0);">&laquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="page-item disabled" style="background-color: rgb(219, 213, 213); font-weight: bold; font-size:24px">
                  <span class="page-link" style="color: rgb(0, 0, 0);">&laquo;&laquo;</span>
                </li>
                <li class="page-item disabled" style="background-color: rgb(219, 213, 213); font-weight: bold; font-size:24px">
                  <span class="page-link" style="color: rgb(0, 0, 0);">&laquo;</span>
                </li>
              {% endif %}
              <li class="page-item disabled">
                <span class="page-link" style="background-color: rgb(255, 255, 255); font-size:24px; color: black;">Page <b>{{ words.number }}</b> of <b>{{ words.paginator.num_pages }}</b></span>
              </li>         
              {% if words.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ words.next_page_number }}" aria-label="Next" id="nextBtn" style="background-color: rgb(219, 213, 213); font-weight: bold; font-size:24px">
                    <span aria-hidden="true" style="color: rgb(0, 0, 0);">&raquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ words.paginator.num_pages }}" aria-label="Last" id="lastBtn" style="background-color: rgb(219, 213, 213)  ; font-weight: bold; font-size:24px">
                    <span aria-hidden="true" style="color: rgb(0, 0, 0);">&raquo;&raquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="page-item disabled" style="background-color: rgb(219, 213, 213); font-weight: bold; font-size:24px">
                  <span class="page-link" style="color: rgb(0, 0, 0);">&raquo;</span>
                </li>
                <li class="page-item disabled" style="background-color: rgb(219, 213, 213); font-weight: bold; font-size:24px">
                  <span class="page-link" style="color: rgb(0, 0, 0);">&raquo;&raquo;</span>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!-- Toast Box for word saved notifications -->
  <div aria-live="polite" aria-atomic="true" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); min-height: 200px; z-index: 1050;">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000">
      <div class="toast-header">
        <strong class="mr-auto text-success">Notification</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Word saved successfully.
      </div>
    </div>
  </div> 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
      var lessonId = "{{ lesson.id }}";   
      // Adds word to user saved list 
      $('.plus-button').click(function() {
        var wordId = $(this).data('word-id');
        event.preventDefault()
        $.ajax({
            url: '/save_word/',
            type: 'POST', 
            data: {
              'word_id': wordId,
              'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
              'word_type': 'lesson'
            },
            success: function(response) {
                console.log("Success");
                $('.toast').toast('show');
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
      });
      $('.toast').toast();
    });

    // Convert text to speech
    function convertTextToSpeech(textToSpeak) {
      event.preventDefault()
    $.ajax({
        url: '/text-to-speech/',
        type: 'POST',
        data: { 'text': textToSpeak },
        success: function(response) {
            console.log(response.message);
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
</body>
</html>