{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quiz - Unit 3: Food And Drink</title>
<link rel="icon" type="image/jpg" href="{% static 'pp.jpg' %}">
<style>
    .quiz-container {
      max-width: 1000px;
      margin: 30px auto;
      background-color: #f9f9f9;
      padding: 20px;
      padding-left: 0px;
      padding-right: 0px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .progress {
      height: 20px;
    }
    .progress-bar {
      background-color: #4CAF50;
    }
    hr {
        border: none;
        height: 1px;
        width: 100%;
        margin-left: 0px;  /* counteract the left padding of the container */
        margin-right: 0px; /* counteract the right padding of the container */
        background-color: #000000; /* or any color that fits the design */
       /* or any value that fits the design */
       
    }

    .phrase-section h1 {
    color: #333;
}

.phrase {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100px; /* Or any fixed height you prefer */
}


.sound-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0; /* Remove padding if you want the button closer to the text */
    display: inline-flex; /* Align the icon vertically */
    align-items: center;
    justify-content: center;
}

.recording {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-button {
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.recording-slider input[type="range"] {
    width: 100%;
}

.sound-button, .plus-button {
    margin-left: 10px;
    cursor: pointer;
}

.sound-button i, .plus-button i {
    pointer-events: none; /* Prevents the icon from capturing click events directly */
}

.sound-button, .plus-button {
    transition: transform 0.2s ease-in-out;
}

.sound-button:hover, .plus-button:hover {
    transform: scale(1.1);
}

.sound-button:focus, .plus-button:focus {
    outline: none;
    box-shadow: none; /* Also remove any box-shadow if applied by Bootstrap */
    background-color: #8b1f1f;
    background: none;
}






  </style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand" href="#">
      <img src="{% static 'Logo1.png' %}" alt="Logo" width="90" height="65" class="d-inline-block align-text-top">
      <h1><span class="text-green" style="margin-left: 10px;">Portu</span><span class="text-red">Pro</span></h1>
    </a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" id="navbarUL">
        <li class="nav-item">
          <a class="nav-link nb-item" href="men_tester.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gearth.html">Vocabulary</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cultureDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Culture
          </a>
          <div class="dropdown-menu" aria-labelledby="cultureDropdown">
            <a class="dropdown-item" href="/architecture">Architecture</a>
            <a class="dropdown-item" href="page2.html">Festivals</a>
            <a class="dropdown-item" href="page3.html">Media</a>
            <!-- More dropdown items -->
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="moreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="cultureDropdown">
          <a class="dropdown-item" href="page1.html">Diacritics</a>
          <a class="dropdown-item" href="page2.html">OS Language</a>
          <a class="dropdown-item" href="page3.html">Music & More</a>
          <!-- More dropdown items -->
        </div>
      <li class="nav-item">
        <a class="nav-link" href="gearth.html">Settings</a>
    </li>
        <!-- More nav items -->
      </ul>
      <span class="navbar-text">
        <a href="/signout" class="settings-link">Logout</a>
      </span>
    </div>
  </nav>


  <div class="container">
    <div class="quiz-container">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- <a href="#" class="btn btn-light big-arrow" style="border: solid 1px #000000; margin-left: 10px;">&larr;</a> -->
        <div style="width: auto; margin-left:20px">
          <b>Unit 2 - Common Food and Animal Names </b>
        </div>
        <div class="progress" style="width: 30%;"> 
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 15%" data-toggle="tooltip" data-placement="top" title="For Quiz 1" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" data-toggle="tooltip" data-placement="top" title="For Quiz 2" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 20%" data-toggle="tooltip" data-placement="top" title="For Quiz 3" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <b>2 of 12</b> 
        <a href="/home" class="btn btn-light big-close" style="border: solid 1px #000000; margin-right: 10px;">&times;</a>
    </div>
    <hr>
    <!-- Word in Portuguese (Word in English)
    Usage in Portuguese (Meaning of same usage in English)
    Speaker button to pronounce the word in English
    Speaker button to pronounce the example sentence usage in English -->
    <div class="lesson-content" style="margin: 20px;">
      <form>
        {% csrf_token %}
        {% for word in words %}
        <div class="word-header">
          <h3>{{word.portuguese_word}} ({{word.english_translation}}) 
              <button class="sound-button" id="speakBtn" onclick="convertTextToSpeech('{{word.portuguese_word}}')">🔊</button>
              <button class="btn btn-outline-success plus-button" id="plusBtn" data-word-id="{{ word.id }}"><i class="fas fa-plus"></i></button>
          </h3><br>
        </div>
        <div class="example-usage">
          <h5>Example Usage</h5>
          <ul>
            {% for usage in word.example_usages.all %}
            <li> {{usage.english_usage}} <b>/</b> {{usage.portuguese_usage}} <button class="sound-button" id="speakBtn" onclick="convertTextToSpeech('{{usage.portuguese_usage}}')" style="font-size: 20px">🔊</button></li>
            {% endfor %}
            <li><b style="display: inline;">Portuguese:</b> Eu sou um menino <button class="sound-button" id="speakBtn" onclick="convertTextToSpeech('Eu sou um menino')" style="font-size: 20px">🔊</button></li>
          </ul>
          </div>
        <hr>
        {% endfor %}
        <div id="pagination_box"">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if words.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ words.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">&laquo;&laquo;</span>
                </li>
                <li class="page-item disabled">
                  <span class="page-link">&laquo;</span>
                </li>
              {% endif %}
          
              <li class="page-item disabled">
                <span class="page-link">Page {{ words.number }} of {{ words.paginator.num_pages }}</span>
              </li>
          
              {% if words.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ words.next_page_number }}" aria-label="Next" id="nextBtn">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ words.paginator.num_pages }}" aria-label="Last" id="lastBtn">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">&raquo;</span>
                </li>
                <li class="page-item disabled">
                  <span class="page-link">&raquo;&raquo;</span>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </form>
      </div>
    </div>
  </div>

  <div aria-live="polite" aria-atomic="true" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); min-height: 200px; z-index: 1050;">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000">
      <div class="toast-header">
        <strong class="mr-auto text-success">Notification</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Word saved successfully.
      </div>
    </div>
  </div>
  
  
<!-- Replace the 'slim' version with the full version of jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    // JavaScript to handle button click and make AJAX request
    // $('#speakBtn').click(function() {
    //     var textToSpeak = "Menino";  // The text you want to convert to speech
    //     $.ajax({
    //         url: '/text-to-speech/',  // URL to Django view
    //         type: 'POST',
    //         data: { 'text': textToSpeak },
    //         success: function(response) {
    //             console.log(response.message);
    //         },
    //         error: function(error) {
    //             console.log(error);
    //         }
    //     });
    // });
    $(document).ready(function() {
      var lessonId = "{{ lesson.id }}";
    //   $('#nextBtn').click(function(e) {
    //     // e.preventDefault(); // Prevent the default action of the anchor tag
    //     e.preventDefault(); // Prevent the default action of the anchor tag
    //     var nextPage = $(this).attr('href').match(/page=(\d+)/)[1]; // Extract the page number from the href
        
    //     // AJAX POST request to Django view
    //     $.ajax({
    //         type: 'POST',
    //         url: '/store_page_number', // URL of your Django view
    //         data: {
    //             'page_number': nextPage, // Pass the extracted page number
    //             'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(), // CSRF token for Django
    //             'lesson_id': lessonId
    //         },
    //         success: function(response) {
    //             // Handle success
    //             console.log('Page number stored successfully.');
    //             // If you want to navigate to the next page after storing
    //             // window.location.href = $('#nextBtn').attr('href');
    //         },
    //         error: function(xhr, errmsg, err) {
    //             // Handle error
    //             console.log('Error storing page number: ' + errmsg);
    //         }
    //     });
    //     // If you need to navigate after the log, you can uncomment the line below
    //     // window.location.href = $(this).attr('href');
    // });
    
      $('.plus-button').click(function() {
        var wordId = $(this).data('word-id');
        event.preventDefault()
        $.ajax({
            url: '/save_word/',  // URL to the Django view
            type: 'POST',  // or 'POST' if you are sending data to the server
            
            data: {
              'word_id': wordId,
              'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()// Any data you need to pass to Django
            },
            success: function(response) {
                // Do something with the response
                console.log("Success");
                $('.toast').toast('show');
            },
            error: function(xhr, errmsg, err) {
                // Handle errors
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
    $('.toast').toast();
});

    function convertTextToSpeech(textToSpeak) {
      event.preventDefault()
    $.ajax({
        url: '/text-to-speech/',  // URL to Django view
        type: 'POST',
        data: { 'text': textToSpeak },
        success: function(response) {
            console.log(response.message);
            // Optional: Play the response if it includes audio data
        },
        error: function(error) {
            console.log(error);
        }
    });
}

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); // Initialize tooltips
});
    
</script>
</body>
</html>