{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PortuPro - Music Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="{% static 'architecture.css' %}">
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
<style>
  .map2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
      perspective: 1200px;
  }

  .header {
     color: #ffffff; font-family: Arial, Helvetica, sans-serif   ; font-weight: bold; font-size:52px; text-shadow: 3px 3px #000000; margin-top: 20px;
  }
  .card-header { background-color: #007bff; color: white; font-weight: bold; font-size: 22px; border: 2px solid black;}
  
  .footer { background-color: #f8f9fa; text-align: center; padding: 10px; font-size: 0.8rem; }
  
  .card { margin-bottom: 40px; border-radius: 10px; box-shadow: 0 0px 10px 2px ; background-color: #f2edcb; }
  
  .map { border-radius: 10px; height: 250px; width: 100%;}

  .carousel-item { height: 250px; background: #ccc; }
  
  .carousel-item img { height: 250px; width: auto; margin: auto; }
  
  .sub-heading { color: #343a40; font-size: 1.5rem; }
</style>  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand" href="#">
      <img src="{% static 'Logo for Navbar.png' %}" alt="Logo" width="70" height="70" class="d-inline-block align-text-top" style="padding-top: 8px">
      <h1><span class="text-green" style="margin-left: 10px;">Portu</span><span class="text-red">Pro</span></h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" id="navbarUL">
        <li class="nav-item active">
          <a class="nav-link nb-item" href="/home">
            Home 
          <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nb-item" style="color: rgb(232, 255, 255);" href="/vocab">
            Vocabulary 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nb-item" style="color: rgb(232, 255, 255);" href="/analytics">
            Analytics 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nb-item" style="color: rgb(232, 255, 255);" href="/diacritics">
            Diacritics 
          </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link active-tab dropdown-toggle nb-item" style="color: rgb(232, 255, 255);"  href="#" id="cultureDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Culture 
            </a>
            <div class="dropdown-menu" aria-labelledby="cultureDropdown">
              <a class="dropdown-item" href="/architecture">Architecture</a>
              <a class="dropdown-item" href="/festivals">Festivals</a>
              <a class="dropdown-item" href="/media">Music</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(232, 255, 255);" href="/settings">Settings</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a href="#" id='discordHref' class="settings-link nb-item"  class="settings-link nb-item" style="font-size:26px; margin-right: 2em;" data-toggle="modal" data-target="#discordModal">
          <i id="discordLogo" class="fab fa-discord"></i>
      </a>
        <a href="/signout" class="settings-link nb-item" style="font-size:22px">{% translate 'Logout' %}</a>
      </span>
    </div>
  </nav>
  <!-- Main Page -->
  <div class="container mt-4">
    <h1 class="mb-4 header">Music</h1>
    <br>
    <section>
      <!-- Information Tile -->
      <div class="card">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <p class="card-text">
                    {% blocktranslate %}
                    Portuguese music has a rich heritage that blends traditional sounds with a contemporary influence, creating a vibrant music scene that is recognized
                    worldwide. At the heart of Portugal's music tradition is Fado, which is recognized by UNESCO as a World Intangible Cultural Heritage. It is a genre
                    characterized by mournful tunes and lyrics, often about the sea life or the poor. Fado is usually performed in small intimate venues
                    called 'Fado Houses' and is an essential experience for anyone visiting Portugal. A Fado performance generally comprises of a solo singer
                    accompanied by a classical Portuguese Guitar. It is meant to carry a sense of resignation and melancholy, known as 'saudade' in Portuguese.
                    {% endblocktranslate %}
                  </p>
                  <center>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/67waO0NR8HTySxtB7wfMBZ?utm_source=generator" width="80%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                  </center>
                  <p class="text-center"><small><b>{% translate 'Explore the profound depths of Fado with this curated playlist.' %}</b></small></p>                    
                  <p class="card-text">
                    {% blocktranslate %}
                    Beyond Fado, Portugal is known for its folk music, which varies significantly from region to region. In the North, you find the upbeat tunes of
                    folklore music accompanied by accordions and violas. The traditional dance styles like "Corridinho" from the region of Algarve add to the cultural
                    flavor.
                    {% endblocktranslate %}
                  </p>
                  <p class="card-text">
                    {% blocktranslate %}
                    Portugal has embraced modern music enthusiastically, with festivals like Rock in Rio Lisboa drawing fans of rock, pop, electronic and indie music.
                    These events often showcase international acts alongside the country's favourite artists, providing a platform for emerging Portuguese musical talent
                    to thrive. In the contemporary settings, genres such as hip-hop, dance and electronic have flourished with artists and DJs from Portugal gaining recognition
                    on the European stage. Portuguese pop music, heavily influenced by Brazillian sounds due to the common language and cultural ties, is also a constant presence
                    in the charts. 
                    {% endblocktranslate %}
                  </p>
                  <p class="card-text">
                    {% blocktranslate %}
                    Discover the sounds of Portugal with these curated playlists of Portuguese music, featuring a mix of pop, contemporary hits, modern music, and everything in between.
                    Click play and immerse yourself in the rhythms of Portugal.
                    {% endblocktranslate %}
                  </p>
                  <div class="row">
                      <div class="col-md-6">
                          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4kS6pDC5qnyxBdbaSUhKAo?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                          <p class="text-center"><small><b>{% translate 'A vibrant mix of modern Portuguese pop music.' %}</b></small></p>                    
                      </div>
                      <div class="col-md-6">
                          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4GkQhzoeVyzKzdgGv9syUi?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                          <p class="text-center"><small><b>{% translate 'An assortment of a variety of Portuguese music.' %}</b></small></p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'mainsite/discord_modal.html' %}
    </section>
  </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
