{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quiz - Unit 3: Food And Drink</title>
<link rel="icon" type="image/jpg" href="{% static 'pp.jpg' %}">
<style>
  .quiz-container {
    max-width: 660px;
    margin: 30px auto;
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
    
  .progress {
    height: 20px;
  }

  .progress-bar {
    background-color: #4CAF50;
  }

  hr {
      background-color: #000000;
  }

  .phrase-section h1 {
    color: #333;
  }

  .phrase {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100px; 
  }

  .mcq-container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
  }

  .question {
    font-size: 18px;
    margin-bottom: 15px;
  }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  {% include 'mainsite/navbar.html' %}
  <div class="container">
    <div class="quiz-container">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="unit_heading">
          <b>Unit {{unit_id}} - {{unit_name}}</b>
        </div>
        <div class="progress" style="width: 30%; border: 2px solid black;"> 
          <div class="progress-bar progress-bar-striped" style="width:70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        {% if not repeated_question %}
        <b>{{question_id}} of 11</b>
      {% else %}
        <b>Repeated Question</b>
      {% endif %}  
        <a href="/home" class="btn btn-light big-close" id="big_close">&times;</a>
      </div>
      <hr> 
      <div class="mcq-container">
        <form>
            {% csrf_token %}
            <h1 class="text-center mb-4">Translate the Following Phrase</h1>
            <p class="lead">{{question_text }}</p>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon">Answer</span>
                </div>
                <input type="text" class="form-control" id="translationInput" aria-label="Translation" aria-describedby="basic-addon">
              </div>
            <div class="text-center" style="margin-top: 60px;">
                <button id="checkAnswer" class="btn btn-success btn-lg" disabled>Check</button>
            </div>
        </form>
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<audio id="correctSound" src="{% static 'correct_sound_effect.mp3' %}" preload="auto"></audio>
<audio id="wrongSound" src="{% static 'wrong_sound_effect.mp3' %}" preload="auto"></audio>
<script>
$(document).ready(function() {
    // Enables check button if input is not empty
    $('#translationInput').on('input', function() {
        var inputValue = $(this).val();
        $('#checkAnswer').prop('disabled', inputValue.length === 0);
    });

    // Submits answer to the server to check for correctness
    $("#checkAnswer").click(function() {
        event.preventDefault()
        var button = $(this);
        var userInput = $('#translationInput').val();
        if (button.text().trim() === 'Check') {
        $.ajax({
            url: '/submit_answer', 
            type: 'POST',
            data: {
                'quiz': userInput,
                'form_type': "{{question_id}}",
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val() 
            },
            success: function(response) {
                if ($("#inputIcon").length === 0) {
                var iconSpan = $('<span class="input-group-text" id="inputIcon"></span>');
                var appendGroup = $('<div class="input-group-append" id="answer-addon"></div>').append(iconSpan);
                $('.input-group').append(appendGroup);
            }
            if(response.is_correct) {
                $('#correctSound')[0].play();
                $('#inputIcon').html('<i class="fas fa-check" style="color: green; font-size: 20px;"></i>');
                $('#translationInput').css({
                    'border': '3px solid #28a745'
                });
            } else {
                $('#wrongSound')[0].play();
                $('#inputIcon').html('<i class="fas fa-times" style="color: red; font-size: 20px;"></i>');
                $('#translationInput').css({
                    'border': '3px solid #dc3545' 
                });
            }
                $('#checkAnswer').text('Continue');
            },
            error: function(xhr, status, error) {
                console.error("Error submitting order:", error);
            }
        });
      } else {
        window.location.reload();
      }  
    });
});
</script>
</body>
</html>