asgiref==3.7.2
attrs==23.2.0
Automat==22.10.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
constantly==23.10.4
cryptography==42.0.3
cssselect==1.2.0
Django==4.2.9
filelock==3.13.1
fsspec==2024.2.0
gTTS==2.5.1
huggingface-hub==0.20.3
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
jmespath==1.0.1
lxml==5.1.0
numpy==1.26.4
packaging==23.2
pandas==2.2.1
parsel==1.8.1
Protego==0.3.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
pycparser==2.21
PyDispatcher==2.0.7
pydub==0.25.1
pygame==2.5.2
pyOpenSSL==24.0.0
python-dateutil==2.8.2
python-http-client==3.3.7
pytz==2024.1
PyYAML==6.0.1
queuelib==1.6.2
regex==2023.12.25
requests==2.31.0
requests-file==2.0.0
safetensors==0.4.2
Scrapy==2.11.1
sendgrid==6.11.0
service-identity==24.1.0
six==1.16.0
SpeechRecognition==3.10.1
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
tldextract==5.1.1
tokenizers==0.15.2
tqdm==4.66.2
transformers==4.38.1
Twisted==23.10.0
twisted-iocpsupport==1.0.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
w3lib==2.1.2
zope.interface==6.2
