<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  {% load i18n %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">{% trans "Reset Your Password" %}</h2>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group mb-3">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <!-- Add form-control class directly to the widget attrs -->
                  {% if field.errors %}
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" class="form-control is-invalid" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}">
                    <div class="invalid-feedback">
                      {% for error in field.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% else %}
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" class="form-control" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}">
                  {% endif %}
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary btn-block">{% trans "Reset my password" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>

