body {
    background: linear-gradient(to right, #33A251, #BB4B3C); /* Start and end colors of the gradient */
    background-attachment: fixed; /* Fix the background to the viewport */
    background-repeat: no-repeat; /* Do not repeat the background */
    background-size: cover; /* Cover the entire page */
  }
  

.btn-primary {
background-color: #0056b3; /* Custom color for the primary button */
}

#login-card {
  border-radius: 30px;
  box-shadow: 10px 10px 5px 5px;
  background-color: #f2edcb;
  margin-top: 45px;
  border: 3px solid black;
}

#inputPasswordtotal, #inputUsername {
  border: 1px solid #000000;
}

#loginBtn {
  border-radius: 10px;
  width: 60%;
  align-items: center;
  justify-content: center;
}

@keyframes rotateY {
  from {
    transform: translateY(-50%) rotateY(0deg);
  }
  to {
    transform: translateY(-50%) rotateY(360deg);
  }
}

/* Position the first image on the left side */
.gif-background {
  height: 55vh;
  width:520px;
  margin-left: 40px;
  position: fixed; /* Or 'absolute' if you want it to scroll with the page */
  left: 0; /* Align to the left side */
  top: 58%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to center the image vertically */
   /* Ensure it overlaps the background */


}

/* Position the second image on the right side */
.gif-background2 {
  height: 50vh;
  width: 350px;
  margin-right: 100px;
  position: fixed; /* Or 'absolute' if you want it to scroll with the page */
  right: 0; /* Align to the right side */
  top: 60%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to center the image vertically */
  /* box-shadow: inset 0 0 15px 0px red;
  background-color: #dad5b6;
  border-radius: 15px;
  border: red 2px solid; */
  /* animation: rotateY 12s ease-in-out alternate-reverse infinite; */
  
  /* Ensure it overlaps the background */
}

.gif-background3 {
  height: 10vh;
  width: 400px;
  margin-right: 100px;
  position: fixed; /* Or 'absolute' if you want it to scroll with the page */
  right: 0; /* Align to the right side */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to center the image vertically */
  box-shadow: inset 0 0 15px 0px rgb(32, 219, 72);
  border: green 2px solid;
  background-color: #dad5b6;
  border-radius: 15px;
  /* animation: rotateY 12s ease-in-out reverse infinite; */
  /* Ensure it overlaps the background */
}

@media (max-width: 1600px) {
  .gif-background,
  .gif-background2,
  .gif-background3 {
    display: none;
  }
}

body {
  perspective: 1000px;
}